@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



:root {
   --font-size-sm: clamp(0.83rem, 0.01vw + 0.83rem, 0.84rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.2rem, 0.87vw + 0.98rem, 1.68rem);
  --font-size-lg: clamp(1.44rem, 1.7vw + 1.02rem, 2.37rem);
  --font-size-xl: clamp(1.73rem, 2.96vw + 0.99rem, 3.36rem);
  --font-size-xxl: clamp(2.07rem, 4.86vw + 0.86rem, 4.75rem);
  --font-size-xxxl: clamp(2.49rem, 7.68vw + 0.57rem, 6.71rem);
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: #2A2B2C;
}

header {
 background-color: #2A2B2C;
 color: #FFF;
}

.pagelogo {
  display: flex;
  align-items: center;
  height: 150px;
  width: 150px;
}


.hero-banner {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-banner .banner-photo {
  grid-row: 2;
}

.hero-banner .pagelogo {
  grid-row: 1;
}

.hero-banner h1 {
  font-weight: 200;
  font-size: var(--font-size-xxxl);
  color: #FFF;
  text-align: center;
  grid-column: 1;
}

 .main-nav {
  grid-row: 1;
  align-self: start;
  justify-self: start;
}



.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index:10;
}


nav {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 0;
  background: #7F6887;
  width: 100%;
  overflow: hidden;
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  height: auto;
}

h2 {
  text-transform: uppercase;
  color: #FFF;
  font-size: var(--font-size-xxl);
  font-weight: 200;
  text-align: center;
  padding: 2em;
}

p {
  font-size: var(--font-size-base);
  padding: 0 5em;
  text-align: center;
  color: #FFF;
}


footer {
  background-color: #636363;
}


.pagelogo-2 {
  display: flex;
  align-items: center;
  height: 150px;
  width: 150px;
}



.social-png {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 0em;
}

.social-png img {
  height: 50px;
  width: 50px;
}


footer p {
  text-align: center;
  font-size: var(--font-size-md);
  padding: 5em 1em;
}

footer cite {
  font-weight: 100;
  color: #FFF;
  text-transform: uppercase;
}
